#ul1 {
  border-style: inset;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #483D8B;
    } 

   li {float: left;} /* zorgt ervoor dat het menu aaan de linker kant begint*/
    
    li a {
      display: block; /* zorgt voor menu in blok vorm*/
      color: white;
      text-align: center;
      padding: 18px 18px;
      text-decoration: none;
      margin-bottom: 10px; /* Voeg ruimte toe tussen elk lijstitem */
      font-size: 16px; /* Pas lettergrootte aan zoals gewenst */
      line-height: 1.5; /* Pas regelhoogte aan voor leesbaarheid */
    } 
  






    


