#ul1 {
  border-style: inset;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #483D8B;
    } 

   li {float: left;} /* zorgt ervoor dat het menu aaan de linker kant begint*/
    
    li a {
      display: block; /* zorgt voor menu in blok vorm*/
      color: white;
      text-align: center;
      padding: 18px 18px;
    } 

    /Dit is de opmaak voor de tekst op de homepage/

  h1{
    font-family: Lucida, Monospace;
    color: White;
    font-size: 20px; /grootte van de tekst/
  {
    
    
    







    


