#ul1 {
  border-style: inset;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(12, 100, 159);
}

   li {float: left;} /* zorgt ervoor dat het menu aaan de linker kant begint*/
    
    li a {
      display: block; /* zorgt voor menu in blok vorm*/
      color: white;
      text-align: center;
      padding: 18px 18px;
      text-decoration: none;
    } 

    

#body1{background-image:url("sreenshot_color_nl.jpg");}



 #tekst1{
    font-family: Lucida, Monospace;
    color: #000080;
    border-radius: 25px; /maakt de afbeelding rond/
    background: #483D8B;
    border-style: inset; /De border om de tekst heen/
    width: 500px; /aanpassingen voor de breedte/
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 40px;
    margin: 100px; /aanpassingen voor de grootte/
  }
   
    h1{
      font-family: Lucida, Monospace;
      color: #000080;
      font-size: 20px; /grootte van de tekst/
    }

.home etc
 {
  background-color: rgba(160, 97, 9, 0.996);
 }

    
    
    







    


